@font-face {
  font-family: 'Circular Std';
  src: url('./circular-std/CircularStd-Book.eot?#iefix') format('embedded-opentype'),  url('./circular-std/CircularStd-Book.otf')  format('opentype'),
	     url('./circular-std/CircularStd-Book.woff') format('woff'), url('./circular-std/CircularStd-Book.ttf')  format('truetype'), url('./circular-std/CircularStd-Book.svg#CircularStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('./circular-std/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'),  url('./circular-std/CircularStd-BookItalic.otf')  format('opentype'),
	     url('./circular-std/CircularStd-BookItalic.woff') format('woff'), url('./circular-std/CircularStd-BookItalic.ttf')  format('truetype'), url('./circular-std/CircularStd-BookItalic.svg#CircularStd-Book') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std';
  src: url('./circular-std/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),  url('./circular-std/CircularStd-Bold.otf')  format('opentype'),
	     url('./circular-std/CircularStd-Bold.woff') format('woff'), url('./circular-std/CircularStd-Bold.ttf')  format('truetype'), url('./circular-std/CircularStd-Bold.svg#CircularStd-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('./circular-std/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('./circular-std/CircularStd-BoldItalic.otf')  format('opentype'),
	     url('./circular-std/CircularStd-BoldItalic.woff') format('woff'), url('./circular-std/CircularStd-BoldItalic.ttf')  format('truetype'), url('./circular-std/CircularStd-BoldItalic.svg#CircularStd-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}