.scrollbar::-webkit-scrollbar-track {
  background-color: #f2f2f2;
  border-radius: 28px; }

.scrollbar::-webkit-scrollbar {
  width: 28px;
  background-color: #f2f2f2; }

.scrollbar::-webkit-scrollbar-thumb {
  border: 10px solid #001A5A;
  border-radius: 28px;
  background: #dfdfdf; }

.ng-enter {
  -webkit-animation: fadeIn both .3s;
  animation: fadeIn both .3s;
  -webkit-animation-delay: .3s;
  animation-delay: .3s; }

.ng-leave {
  -webkit-animation: fadeOut both .3s;
  animation: fadeOut both .3s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; } }

@keyframes scaleIn {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; } }

@-webkit-keyframes scaleOut {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; } }

@keyframes scaleOut {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; } }

@-webkit-keyframes fromTop {
  from {
    -webkit-transform: translate3d(0, -100vh, 0);
    transform: translate3d(0, -100vh, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fromTop {
  from {
    -webkit-transform: translate3d(0, -100vh, 0);
    transform: translate3d(0, -100vh, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes fromLeft {
  from {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fromLeft {
  from {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes fromRight {
  from {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fromRight {
  from {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes fromBot {
  from {
    -webkit-transform: translate3d(0, 100vh, 0);
    transform: translate3d(0, 100vh, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fromBot {
  from {
    -webkit-transform: translate3d(0, 100vh, 0);
    transform: translate3d(0, 100vh, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes toTop {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh); } }

@keyframes toTop {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh); } }

@-webkit-keyframes toLeft {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); } }

@keyframes toLeft {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); } }

@-webkit-keyframes toRight {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); } }

@keyframes toRight {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); } }

@-webkit-keyframes toBot {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh); } }

@keyframes toBot {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh); } }

@-webkit-keyframes fromFlipX {
  from {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    position: absolute; }
  to {
    -webkit-transform: rotateX(0);
    transform: rotateX(0); } }

@keyframes fromFlipX {
  from {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    position: absolute; }
  to {
    -webkit-transform: rotateX(0);
    transform: rotateX(0); } }

@-webkit-keyframes toFlipX {
  from {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    position: absolute; }
  to {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg); } }

@keyframes toFlipX {
  from {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    position: absolute; }
  to {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg); } }

@-webkit-keyframes fromFlipY {
  from {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    position: absolute; }
  to {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); } }

@keyframes fromFlipY {
  from {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    position: absolute; }
  to {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); } }

@-webkit-keyframes toFlipY {
  from {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    position: absolute; }
  to {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); } }

@keyframes toFlipY {
  from {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    position: absolute; }
  to {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); } }

.box {
  background: #fff;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  padding: 40px; }

.btn {
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding: 10px 20px;
  background: #2d8cf0;
  color: #f2f2f2;
  border-radius: 3px;
  text-align: center; }
  .btn:hover {
    background: #dfdfdf; }

.label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 2px 10px;
  border-radius: 20px;
  background: #2d8cf0;
  color: #f2f2f2;
  text-align: center; }

.link {
  cursor: pointer;
  color: #2d8cf0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.scroller {
  overflow-y: scroll; }

.text {
  width: 100%;
  min-width: 280px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding: 15px 25px;
  background: transparent; }
  .text:focus {
    background: #e5e5e5; }

.flat {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); }

.light {
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }

.dark {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6); }

.hgrad {
  background: #FF4E50;
  background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);
  background: -webkit-gradient(linear, left top, right top, from(#F9D423), to(#FF4E50));
  background: -webkit-linear-gradient(left, #F9D423, #FF4E50);
  background: -o-linear-gradient(left, #F9D423, #FF4E50);
  background: linear-gradient(to right, #F9D423, #FF4E50); }

.vgrad {
  background: #FF4E50;
  background: -webkit-linear-gradient(to bottom, #F9D423, #FF4E50);
  background: -webkit-gradient(linear, left top, left bottom, from(#F9D423), to(#FF4E50));
  background: -webkit-linear-gradient(top, #F9D423, #FF4E50);
  background: -o-linear-gradient(top, #F9D423, #FF4E50);
  background: linear-gradient(to bottom, #F9D423, #FF4E50); }

body {
  background-color: #000 !important; }

.main {
  border-radius: 10px !important; }

.app-box {
  border-radius: 10px;
  overflow: hidden; }
  .app-box .topbar {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    padding: 0; }
    .app-box .topbar .logo {
      left: 15px;
      padding: 5px 0 0px 0; }
    .app-box .topbar input {
      padding: 5px 120px 0 60px; }
    .app-box .topbar select {
      right: 10px; }
  .app-box .scroller {
    width: 100%;
    padding: 20px 20px 85px 20px;
    border-radius: 0 0 10px 10px;
    -webkit-overflow-scrolling: touch; }
    .app-box .scroller .box span {
      margin-right: -5px; }
    .app-box .scroller .box h2 {
      font-size: 12px;
      margin-right: 15px; }
    .app-box .scroller .date {
      display: none; }
    .app-box .scroller .cliente {
      font-size: 16px; }
    .app-box .scroller .last-title {
      margin-left: auto; }
    .app-box .scroller .last-info {
      margin-right: 0; }

.outer-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05); }

.app-modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 40px;
  margin: 0 auto;
  width: 95%;
  max-width: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  z-index: 99; }
  .app-modal .box input,
  .app-modal .box select {
    width: calc(100% - 40px) !important;
    margin-bottom: 10px; }
  .app-modal .box span {
    margin-bottom: 7px !important; }
  .app-modal .box .uploader {
    min-width: calc(100% - 40px) !important;
    margin-bottom: 10px; }
    .app-modal .box .uploader input {
      width: 100% !important; }
    .app-modal .box .uploader .img-title {
      width: 100% !important;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-animation: none !important;
      animation: none !important; }
      .app-modal .box .uploader .img-title p {
        width: 100%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis; }
      .app-modal .box .uploader .img-title i {
        color: #e9e9e9; }
  .app-modal .box .cliente {
    width: calc(100% - 40px) !important; }
  .app-modal .box textarea {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    width: 100% !important;
    border-radius: 0; }
