.scrollbar::-webkit-scrollbar-track {
  background-color: #f2f2f2;
  border-radius: 28px; }

.scrollbar::-webkit-scrollbar {
  width: 28px;
  background-color: #f2f2f2; }

.scrollbar::-webkit-scrollbar-thumb {
  border: 10px solid #001A5A;
  border-radius: 28px;
  background: #dfdfdf; }

.ng-enter {
  -webkit-animation: fadeIn both .3s;
  animation: fadeIn both .3s;
  -webkit-animation-delay: .3s;
  animation-delay: .3s; }

.ng-leave {
  -webkit-animation: fadeOut both .3s;
  animation: fadeOut both .3s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; } }

@keyframes scaleIn {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; } }

@-webkit-keyframes scaleOut {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; } }

@keyframes scaleOut {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; } }

@-webkit-keyframes fromTop {
  from {
    -webkit-transform: translate3d(0, -100vh, 0);
    transform: translate3d(0, -100vh, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fromTop {
  from {
    -webkit-transform: translate3d(0, -100vh, 0);
    transform: translate3d(0, -100vh, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes fromLeft {
  from {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fromLeft {
  from {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes fromRight {
  from {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fromRight {
  from {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes fromBot {
  from {
    -webkit-transform: translate3d(0, 100vh, 0);
    transform: translate3d(0, 100vh, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fromBot {
  from {
    -webkit-transform: translate3d(0, 100vh, 0);
    transform: translate3d(0, 100vh, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes toTop {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh); } }

@keyframes toTop {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh); } }

@-webkit-keyframes toLeft {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); } }

@keyframes toLeft {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); } }

@-webkit-keyframes toRight {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); } }

@keyframes toRight {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); } }

@-webkit-keyframes toBot {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh); } }

@keyframes toBot {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh); } }

@-webkit-keyframes fromFlipX {
  from {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    position: absolute; }
  to {
    -webkit-transform: rotateX(0);
    transform: rotateX(0); } }

@keyframes fromFlipX {
  from {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    position: absolute; }
  to {
    -webkit-transform: rotateX(0);
    transform: rotateX(0); } }

@-webkit-keyframes toFlipX {
  from {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    position: absolute; }
  to {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg); } }

@keyframes toFlipX {
  from {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    position: absolute; }
  to {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg); } }

@-webkit-keyframes fromFlipY {
  from {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    position: absolute; }
  to {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); } }

@keyframes fromFlipY {
  from {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    position: absolute; }
  to {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); } }

@-webkit-keyframes toFlipY {
  from {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    position: absolute; }
  to {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); } }

@keyframes toFlipY {
  from {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    position: absolute; }
  to {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); } }

.box {
  background: #fff;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  padding: 40px; }

.btn {
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding: 10px 20px;
  background: #2d8cf0;
  color: #f2f2f2;
  border-radius: 3px;
  text-align: center; }
  .btn:hover {
    background: #dfdfdf; }

.label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 2px 10px;
  border-radius: 20px;
  background: #2d8cf0;
  color: #f2f2f2;
  text-align: center; }

.link {
  cursor: pointer;
  color: #2d8cf0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.scroller {
  overflow-y: scroll; }

.text {
  width: 100%;
  min-width: 280px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding: 15px 25px;
  background: transparent; }
  .text:focus {
    background: #e5e5e5; }

.flat {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); }

.light {
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }

.dark {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6); }

.hgrad {
  background: #FF4E50;
  background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);
  background: -webkit-gradient(linear, left top, right top, from(#F9D423), to(#FF4E50));
  background: -webkit-linear-gradient(left, #F9D423, #FF4E50);
  background: -o-linear-gradient(left, #F9D423, #FF4E50);
  background: linear-gradient(to right, #F9D423, #FF4E50); }

.vgrad {
  background: #FF4E50;
  background: -webkit-linear-gradient(to bottom, #F9D423, #FF4E50);
  background: -webkit-gradient(linear, left top, left bottom, from(#F9D423), to(#FF4E50));
  background: -webkit-linear-gradient(top, #F9D423, #FF4E50);
  background: -o-linear-gradient(top, #F9D423, #FF4E50);
  background: linear-gradient(to bottom, #F9D423, #FF4E50); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  image-rendering: crisp-edges;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body, main {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  background: #f2f2f2;
  font-family: 'Circular Std'; }

a {
  color: #2d8cf0;
  text-decoration: none; }

.login-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fafafa;
  padding: 40px;
  padding-bottom: 100px;
  overflow: hidden; }
  .login-box .logo {
    position: fixed;
    top: 30px; }
  .login-box h1 {
    margin-bottom: 20px;
    font-size: 70px;
    line-height: 1; }
  .login-box input {
    margin: 10px 0;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Circular Std';
    font-size: 18px;
    background: transparent !important;
    padding: 20px 0; }
    .login-box input:focus {
      border-bottom: 3px solid #2d8cf0; }
  .login-box .btn {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 250px;
    background: #2d8cf0;
    text-align: center;
    padding: 15px;
    border-radius: 40px;
    color: #fff;
    z-index: 1;
    -webkit-box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-size: 18px; }
    .login-box .btn:hover {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
      background: #2d8cf0;
      color: #fff; }
  .login-box p {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  @media only screen and (max-width: 860px) {
    .login-box {
      border-radius: 10px; } }
  .login-box .sign-form.ng-enter {
    -webkit-animation: fromFlipY both .2s ease-in;
    animation: fromFlipY both .2s ease-in;
    -webkit-animation-delay: .5s;
    animation-delay: .5s; }
  .login-box .sign-form.ng-leave {
    -webkit-animation: toFlipY both .2s ease-out;
    animation: toFlipY both .2s ease-out; }

.app-box {
  width: 100%;
  height: 100%;
  background: #f2f2f2; }
  .app-box .btn-cta {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 250px;
    background: #2d8cf0;
    text-align: center;
    padding: 15px;
    border-radius: 40px;
    color: #fff;
    z-index: 1;
    -webkit-box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-size: 18px;
    -webkit-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out; }
    .app-box .btn-cta:hover {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05); }
  .app-box .topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px;
    -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    z-index: 98; }
    .app-box .topbar .logo {
      position: absolute;
      height: 50%;
      margin-top: -2px; }
    .app-box .topbar h4 {
      font-weight: normal;
      font-size: 14px; }
      .app-box .topbar h4 b {
        font-size: 16px; }
    .app-box .topbar input {
      width: 100%;
      max-width: 800px;
      height: 100%;
      margin: 0 auto;
      border-radius: 0;
      border: none;
      padding: 5px 12px 0 12px;
      font-size: 20px; }
      .app-box .topbar input:focus {
        border-bottom: 3px solid #2d8cf0; }
    .app-box .topbar input::-webkit-input-placeholder {
      color: #ddd; }
    .app-box .topbar input:-ms-input-placeholder {
      color: #ddd; }
    .app-box .topbar input::-ms-input-placeholder {
      color: #ddd; }
    .app-box .topbar input::placeholder {
      color: #ddd; }
    .app-box .topbar select {
      position: absolute;
      right: 20px;
      padding: 0 10px;
      font-size: 16px;
      margin-top: 5px;
      font-weight: bold;
      text-align: right;
      background: transparent; }
    .app-box .topbar .btn {
      position: fixed;
      bottom: 20px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 250px;
      background: #2d8cf0;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding: 15px;
      border-radius: 40px;
      color: #fff;
      z-index: 1;
      -webkit-box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.4);
      box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.4);
      font-weight: bold;
      font-size: 18px; }
      .app-box .topbar .btn:hover {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05); }
    .app-box .topbar i {
      font-size: 25px;
      color: #fff !important;
      z-index: 99; }
  .app-box .scroller {
    position: relative;
    top: 70px;
    left: 0;
    width: calc(100% + 15px);
    height: calc(100% - 70px);
    padding: 20px 0 90px 0; }
    .app-box .scroller .row {
      width: 100%;
      margin: 0 auto 10px auto; }
    .app-box .scroller .box {
      position: relative;
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      border-radius: 5px;
      padding: 0;
      overflow: hidden;
      -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
      .app-box .scroller .box .orden {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 10px 15px; }
      .app-box .scroller .box span {
        font-size: 12px;
        text-transform: lowercase; }
        .app-box .scroller .box span i {
          color: #2d8cf0;
          margin-bottom: 2px; }
      .app-box .scroller .box b {
        font-weight: 100; }
      .app-box .scroller .box h2 {
        color: #444;
        font-size: 14px;
        margin: 0 30px 0 10px; }
      .app-box .scroller .box .last-title {
        margin-left: auto; }
      .app-box .scroller .box .img-wrapper {
        cursor: pointer;
        width: calc(100% - 40px);
        height: 60px;
        overflow: hidden;
        margin: 10px 0 0 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 5px;
        -webkit-transition: .2s ease-out;
        -o-transition: .2s ease-out;
        transition: .2s ease-out; }
        .app-box .scroller .box .img-wrapper img {
          width: 100%; }
      .app-box .scroller .box .full-img {
        width: 100% !important;
        margin: 0 !important;
        height: 100% !important; }
      .app-box .scroller .box .last-info {
        margin-right: 0; }
      .app-box .scroller .box .btn {
        position: absolute;
        bottom: 15px;
        right: 15px;
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        margin: 0;
        padding: 0; }
        .app-box .scroller .box .btn i {
          font-size: 20px;
          color: #e1e1e1; }
          .app-box .scroller .box .btn i:hover {
            color: #2d8cf0; }
    .app-box .scroller .cliente {
      width: calc(100% - 40px);
      padding: 25px 20px;
      font-size: 20px; }
  .app-box .outer-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: 998; }
  .app-box .app-modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: 0 auto;
    max-width: 840px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    z-index: 998; }
    .app-box .app-modal .box {
      width: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: #fff;
      border-radius: 5px;
      -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
      padding: 0; }
      .app-box .app-modal .box * {
        color: #001A5A; }
      .app-box .app-modal .box .orden {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 20px; }
      .app-box .app-modal .box span {
        width: 20px;
        height: 20px;
        font-size: 16px;
        margin-bottom: -2px; }
        .app-box .app-modal .box span i {
          color: #2d8cf0; }
      .app-box .app-modal .box b {
        font-weight: 100; }
      .app-box .app-modal .box input,
      .app-box .app-modal .box select {
        width: calc(50% - 40px);
        color: #444;
        font-size: 18px;
        font-family: "Circular Std";
        font-weight: bold;
        background: transparent;
        padding: 10px;
        margin-right: 20px;
        border-radius: 0; }
        .app-box .app-modal .box input:focus,
        .app-box .app-modal .box select:focus {
          border-bottom: 3px solid #2d8cf0; }
      .app-box .app-modal .box .uploader {
        width: calc(50% - 40px) !important;
        text-align: left;
        color: #444;
        font-size: 18px;
        font-family: "Circular Std";
        font-weight: bold;
        background: transparent;
        padding: 10px;
        margin-right: 20px; }
        .app-box .app-modal .box .uploader input {
          width: 100%; }
        .app-box .app-modal .box .uploader .img-title {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-animation: none !important;
          animation: none !important; }
          .app-box .app-modal .box .uploader .img-title p {
            width: 100%;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis; }
          .app-box .app-modal .box .uploader .img-title i {
            color: #e9e9e9; }
      .app-box .app-modal .box .cliente {
        width: calc(100% - 40px); }
      .app-box .app-modal .box textarea {
        width: 100%;
        height: 150px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 40px;
        resize: none;
        font-size: 18px;
        font-family: 'Circular Std'; }
        .app-box .app-modal .box textarea:focus {
          border-bottom: 3px solid #2d8cf0; }
      .app-box .app-modal .box .btn {
        position: absolute;
        bottom: -21px;
        width: 265px;
        font-size: 18px;
        font-weight: bold;
        background: #2d8cf0;
        color: #f2f2f2;
        padding: 15px 0;
        border-radius: 40px;
        -webkit-transition: .2s ease-out;
        -o-transition: .2s ease-out;
        transition: .2s ease-out; }
        .app-box .app-modal .box .btn:hover {
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05); }
  .app-box .ng-enter {
    -webkit-animation: fadeIn .5s ease-out;
    animation: fadeIn .5s ease-out; }
  .app-box .ng-leave {
    -webkit-animation: fadeOut .5s ease-out;
    animation: fadeOut .5s ease-out; }
  .app-box .ng-enter:not(.outer-modal) {
    -webkit-animation: fromBot .3s ease-out;
    animation: fromBot .3s ease-out; }
  .app-box .ng-leave:not(.outer-modal) {
    -webkit-animation: toBot .3s ease-out;
    animation: toBot .3s ease-out; }
