//class style

//ui elements
.box {
    background: #fff;
    box-shadow: $light;
    border-radius: 3px;
    padding: 40px;
}

.btn {
    cursor: pointer;
    transition: .2s;
    user-select: none;
    box-shadow: $light;
    padding: 10px 20px;
    background: $blue;
    color: $white;
    border-radius: 3px;
    text-align: center;
    &:hover {
        background: $grey;
    }
}

.label {
    user-select: none;
    padding: 2px 10px;
    border-radius: 20px;
    background: $blue;
    color: $white;
    text-align: center;
}

.link {
    cursor: pointer;
    color: $blue;
    user-select: none;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.scroller {
    overflow-y: scroll;
}

//inputs
.text {
    width: 100%;
    min-width: 280px;
    transition: .2s;
    box-shadow: $light;
    padding: 15px 25px;
    background: transparent;
    &:focus {
        background: darken($white, 5%);
    }
}

//shadows
.flat { box-shadow: $flat }
.light { box-shadow: $light }
.dark { box-shadow: $dark }

//gradients
.hgrad { @include hGrad }
.vgrad { @include vGrad }